.nav-container {
    background-color: #adc2f6;
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
}

.Title-Container {
    display: flex;
    height: auto;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.Title {
    margin-top: 30px;
    width: 100%;
    max-width: 1920px;
    padding-left: 72px;
    text-align: left
}

body {
    background-color: white;
}

.CardContainer {

    max-width: 1920px;
    background-color: white;
    display: grid;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding-left: 72px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 450px));
    grid-column-gap: 10px;
    margin-top: 10px;
}

.ticket {
    margin-bottom: 5%;
    flex: 1 1 25%;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 100%;
    transition: all .5s;
    border: 1px rgb(184, 184, 184) solid;
}

.ticket:hover {
    box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.4);
}

h2 {
    flex: 0 1 25%;
}

.shadowbox {
    padding: 1%;
    bottom: 0;
    background-color: #686383;
    opacity: .95;
    position: absolute;
    transform: translateY(500px);
    width: 100%;
    height: 100%;
    color: white;
}

.image-container {
    position: relative;
    height: 60%;
    width: 100%;
    overflow: hidden;
}

.image-container img {
    position: relative;
    max-width: 100%;

}

.image-container:hover .shadowbox {
    bottom: 0;
    transform: translateY(0px) translateX(0px);
    transition: .5s;
    z-index: 4;
}

.Title_Date {
    height: 40%;
    background-color: white;
    padding: 5%;
    text-align: left;
    position: relative;
}

.price-container {
    text-align: center;
    padding: .6% 0;
    position: absolute;
    z-index: 3;
    color: white;
    background-color: #686383;
    opacity: .9;
    width: 100%;
}

.price-container h2 {
    margin: 0;
    padding: 0;
    height: 100%;
}

.Price-data {
    padding-right: 2%;
    text-align: right;
}

.CityData-body {
    height: 100%;
    width: 100%;
}

.CityData-footer {
    display: flex;
    flex-flow: column;
    height: auto;
    background-color: rebeccapurple;
    width: 100%;
}

.CityData-footer h1 {
    flex: 1 1 auto;
}

.Container {
    background-color: white;
    min-height: 100%;
    max-height: auto;
}

.CityData-text-subtext {
    padding-left: 35px;
}

.CityData-back-text-line {
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: white;
    margin: auto;
    line-height: 0;

}

.flight-travel-info {
    display: inline;
}

.CityData-back-text-line-flight-travel-info {
    display: inline-block;
    width: 30%;
    font-size: 12pt;
    margin: 0 5px 0px 5px;
    transform: translateY(-20%);
}

.CityData-back-airport-flight-travel-info {
    display: inline-block;
    font-size: 18pt;
    margin: 0 5px 0px 5px;
}

.CityData-flight-travel-info-parent {
    margin-top: 10px;
}

.airplane {
    transform: translateY(-8px);
}

.website-link,
.website-link:hover {
    text-decoration: none;
    color: inherit;
}

.dateAdded {
    float: right;
    opacity: .5;
}

.shadowbox-text {
    transform: translateY(30%);

}

@media screen and (max-width: 450px) {
    .CardContainer {
        padding: 10px;
    }

    .Title {
        padding-left: 15px;
    }
}