.dropdown {
    cursor: pointer;
}

.autocomplete {
    padding-left: 72px;
    padding-right: 20px;
}

.dropdown_list {
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: white;
    overflow: auto;
    height: 50vh;
}

.input_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input_container_items {
    flex: 0 0 50%;
}

.input_container_items_header {
    flex: 0 0 25%;
}